<?xml version="1.0" ?>
<model>
    <name>aruco_cube</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>shuhei0209</name>
        <email>your_email@example.com</email>
    </author>
    <description>A 10cm cube with an ArUco marker on one face.</description>
</model>
